<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <a href="/new">Add New Message</a>
    <% for (let i = messages.length-1; i > -1; i--) { %>
      <li class="messages">
        <p><span class="user"><%= messages[i].user %> </span>: <%= messages[i].text %></p>
        <p><%= messages[i].added %></p>
        <a href="/<%= messages[i].id %>/details">Open</a>
      </li>
    <% } %>
  </main>
</body>
</html>